laravel_weboldal/node_modules
laravel_weboldal/public/build
laravel_weboldal/public/hot
laravel_weboldal/public/storage
laravel_weboldal/storage/*.key
laravel_weboldal/vendor
laravel_weboldal/.env
laravel_weboldal/.env.backup
laravel_weboldal/.env.production
laravel_weboldal/.phpunit.result.cache
laravel_weboldal/Homestead.json
laravel_weboldal/Homestead.yaml
laravel_weboldal/auth.json
laravel_weboldal/npm-debug.log
laravel_weboldal/yarn-error.log
laravel_weboldal//.fleet
laravel_weboldal//.idea
laravel_weboldal//.vscode

laravel_weboldal/.DS_Store
laravel_weboldal/docker/php/home
laravel_weboldal/docker/mysql/var/lib/mysql/*
laravel_weboldal/.idea
laravel_weboldal/README.pdf