<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		
		
	</configSections>
	<appSettings>
		<add key="DefaultLocalHostPort" value="8881"/>
	</appSettings>
	
	<connectionStrings>
		<add name="PetsDB" connectionString="Server=localhost;Port=33061;Database=laravel;User ID=root;Password=root_password;"/>
	</connectionStrings>
	<startup>

	</startup>
</configuration>