<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>


		<add name="PetsDB" connectionString="Server=localhost;Port=33061;Database=laravel;User ID=root;Password=root_password;" providerName="Microsoft.EntityFrameworkCore"/>
	</connectionStrings>
	<startup>

	</startup>
</configuration>