
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.bg{
   background-image: linear-gradient(45deg, rgba(245, 237, 216, 1),rgba(184, 91, 47, 1), rgba(62, 22, 0, 1) 80%);

}
#app{
    height: 100vh;
    
}
.box{
    top:300px;
    left:5%;
    border-radius:50px;
    //right:5%;
    width: 97.5%;
    height: 100%;
    padding: 50px;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.75);
}

